<br />
<mat-card>
	<mat-card-title>Autenticação Deezer</mat-card-title>
	<mat-card-content>
		API Token: <strong>Teste</strong>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary">Autenticar</button>
	</mat-card-actions>
</mat-card>
<br />
<br />
<mat-card>
	<mat-card-title>Autenticação Spotify</mat-card-title>
	<mat-card-content>
		API Token: <strong>Teste</strong>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary">Autenticar</button>
	</mat-card-actions>
</mat-card>
